<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    Title:
    <input type="text" formControlName="title" required>
  </label>

  <label>
    Message:
    <input type="text" formControlName="message">
  </label>

  <label>
    Url:
    <input type="text" formControlName="url">
  </label>

  <label>
    Icon:
    <input type="text" formControlName="icon">
  </label>

  <label>
    Image:
    <input type="text" formControlName="image">
  </label>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr>

<p>
  Form Value: {{ profileForm.value | json }}
</p>
